In [1]:
#Lists
#Tuples
#Sets
#Frozensets
#Dictionaries

In [2]:
list1 = [32,22,34,33,22,33,23,43,55,44]

In [4]:
list1[4]

22

In [6]:
type(list1)

list

In [7]:
list2 = ['A',2,3.5, True]

In [9]:
type(list2[0])

str

In [10]:
type(list2[1])

int

In [11]:
type(list2[2])

float

In [12]:
type(list2[3])

bool

In [16]:
list1

[32, 22, 34, 33, 22, 33, 23, 43, 55, 44]

In [14]:
list1[-1:-5:-1]

[44, 55, 43, 23]

In [17]:
list1[-1:-8:-3]

[44, 23, 33]

In [18]:
list1[-4:]

[23, 43, 55, 44]

In [19]:
#Insertion order is preserved 
#Duplicates are allowed 
#Heterogeneous data allowed 
#Growable in nature 
#Values should be enclosed in the square bracket 
#Mutable

In [21]:
list1[0]=22

In [22]:
list1

[22, 22, 34, 33, 22, 33, 23, 43, 55, 44]

In [24]:
list1.append(100)

In [27]:
list1.append([110,120])

In [34]:
del list1[-1]

In [35]:
list1

[22, 22, 34, 33, 22, 33, 23, 43, 55, 44, 100]

In [36]:
list1.clear()

In [38]:
list1=[22, 22, 34, 33, 22, 33, 23, 43, 55, 44, 100]

In [40]:
list3 = list1.copy()

In [41]:
list3

[22, 22, 34, 33, 22, 33, 23, 43, 55, 44, 100]

In [43]:
list1.count(22)

3

In [45]:
list1.extend([10,11,12])

In [46]:
list1

[22, 22, 34, 33, 22, 33, 23, 43, 55, 44, 100, 10, 11, 12]

In [47]:
list1.index(22)

0

In [48]:
list1.insert(5,100)

In [49]:
list1

[22, 22, 34, 33, 22, 100, 33, 23, 43, 55, 44, 100, 10, 11, 12]

In [50]:
list1.pop()

12

In [52]:
list1.pop(3)

33

In [53]:
list1

[22, 22, 34, 22, 100, 33, 23, 43, 55, 44, 100, 10, 11]

In [54]:
list1.remove(34)

In [55]:
list1

[22, 22, 22, 100, 33, 23, 43, 55, 44, 100, 10, 11]

In [57]:
list1.reverse()

In [58]:
list1

[11, 10, 100, 44, 55, 43, 23, 33, 100, 22, 22, 22]

In [59]:
list1.sort()

In [61]:
list1.sort(reverse=True)

In [62]:
list1

[100, 100, 55, 44, 43, 33, 23, 22, 22, 22, 11, 10]

In [63]:
list1.pop()

10

In [64]:
list1.pop(2)

55

In [65]:
list1

[100, 100, 44, 43, 33, 23, 22, 22, 22, 11]

In [66]:
list4 = [1,4,3,5,2]

In [67]:
list4.sort()

In [69]:
list4.sort(reverse=True)

In [70]:
list4

[5, 4, 3, 2, 1]

In [72]:
len(list1)

10

In [74]:
sum(list1)

420

In [75]:
min(list1)

11

In [76]:
max(list1)

100

In [77]:
#Tuples
tuple1 = (10,20,30)

In [79]:
type(tuple1)

tuple

In [81]:
tuple1[1]=100

TypeError: 'tuple' object does not support item assignment

In [82]:
tuple1.count(20)

1

In [83]:
tuple1.index(10)

0

In [86]:
a = tuple(list1)

In [88]:
type(a)

tuple

In [90]:
a =list(a)

In [91]:
type(a)

list

In [92]:
#Dictionary

In [93]:
#Soumya Raj
#Sanjeev
#Jagannathan

In [94]:
stu = {'sid':[1,2,3,4,5],
      'sname':['A','B','C','D','E'],
      'Region':['N','S','E','E','W']}

In [95]:
stu

{'sid': [1, 2, 3, 4, 5],
 'sname': ['A', 'B', 'C', 'D', 'E'],
 'Region': ['N', 'S', 'E', 'E', 'W']}

In [96]:
stu['Mark'] = [10,12,11,11,5]

In [97]:
stu

{'sid': [1, 2, 3, 4, 5],
 'sname': ['A', 'B', 'C', 'D', 'E'],
 'Region': ['N', 'S', 'E', 'E', 'W'],
 'Mark': [10, 12, 11, 11, 5]}

In [98]:
len(stu)

4

In [101]:
stu['Mark'][2]=21

In [102]:
stu

{'sid': [1, 2, 3, 4, 5],
 'sname': ['A', 'B', 'C', 'D', 'E'],
 'Region': ['N', 'S', 'E', 'E', 'W'],
 'Mark': [10, 12, 21, 11, 5]}

In [103]:
import pandas as pd

In [104]:
pd.DataFrame(stu)

   sid sname Region  Mark
0    1     A      N    10
1    2     B      S    12
2    3     C      E    21
3    4     D      E    11
4    5     E      W     5

In [108]:
stu = {'sid':[1,2,3,4,5],
      'sname':['A','B','C','D','E'],
      'Region':['N','S','E','E','W']}

In [106]:
stu

{'sid': [1, 2, 3, 4, 5],
 'sname': ['A', 'B', 'C', 'D'],
 'Region': ['N', 'S', 'E', 'E', 'W']}

In [107]:
pd.DataFrame(stu)

ValueError: arrays must all be same length

In [109]:
stu

{'sid': [1, 2, 3, 4, 5],
 'sname': ['A', 'B', 'C', 'D', 'E'],
 'Region': ['N', 'S', 'E', 'E', 'W']}

In [111]:
stu.clear()

In [112]:
stu

{}

In [113]:
stu = {'sid':[1,2,3,4,5],
      'sname':['A','B','C','D','E'],
      'Region':['N','S','E','E','W']}

In [114]:
stu1 = stu.copy()

In [115]:
stu1

{'sid': [1, 2, 3, 4, 5],
 'sname': ['A', 'B', 'C', 'D', 'E'],
 'Region': ['N', 'S', 'E', 'E', 'W']}

In [116]:
a = stu.fromkeys({'sid','sname'}, 'NA')

In [117]:
a

{'sname': 'NA', 'sid': 'NA'}

In [118]:
a['sname'] = ['a','b','c']

In [119]:
a

{'sname': ['a', 'b', 'c'], 'sid': 'NA'}

In [121]:
stu.get('sname')

['A', 'B', 'C', 'D', 'E']

In [122]:
stu['sname']

['A', 'B', 'C', 'D', 'E']

In [123]:
dict1 = {1:3, 4:5}

In [124]:
dict1

{1: 3, 4: 5}

In [125]:
dict1 = {[1,2,3,4]:[2,3,4,5]}

TypeError: unhashable type: 'list'

In [127]:
stu.items()

dict_items([('sid', [1, 2, 3, 4, 5]), ('sname', ['A', 'B', 'C', 'D', 'E']), ('Region', ['N', 'S', 'E', 'E', 'W'])])

In [128]:
stu.keys()

dict_keys(['sid', 'sname', 'Region'])

In [129]:
stu.values()

dict_values([[1, 2, 3, 4, 5], ['A', 'B', 'C', 'D', 'E'], ['N', 'S', 'E', 'E', 'W']])

In [130]:
stu = {'sid':(1,2,3,4,5),
      'sname':['A','B','C','D','E'],
      'Region':['N','S','E','E','W']}

In [132]:
stu['sid'][0]=10

TypeError: 'tuple' object does not support item assignment

In [133]:
tuple1=(1,2,3,4,[5,6])

In [137]:
tuple1[-1][0]=10

In [138]:
tuple1

(1, 2, 3, 4, [10, 6])

In [141]:
stu.pop('sname')

['A', 'B', 'C', 'D', 'E']

In [140]:
stu

{'sid': (1, 2, 3, 4, 5),
 'sname': ['A', 'B', 'C', 'D', 'E'],
 'Region': ['N', 'S', 'E', 'E', 'W']}

In [142]:
stu

{'sid': (1, 2, 3, 4, 5), 'Region': ['N', 'S', 'E', 'E', 'W']}

In [144]:
stu['rgn'] = stu.pop('Region')

In [145]:
stu

{'sid': (1, 2, 3, 4, 5), 'rgn': ['N', 'S', 'E', 'E', 'W']}

In [148]:
stu.popitem('sid')

TypeError: popitem() takes no arguments (1 given)

In [150]:
dict1 = {1:3, 4:5}
dict2 = {1:2, 3:5}

In [151]:
dict1.update(dict2)

In [152]:
dict1

{1: 2, 4: 5, 3: 5}

In [153]:
stu.values()

dict_values([(1, 2, 3, 4, 5)])

In [157]:
stu = {'sid': [1, 2, 3, 4, 5],
 'sname': ['A', 'B', 'C', 'D', 'E'],
 'Region': ['N', 'S', 'E', 'E', 'W']}

In [162]:
stu['sid'].sort(reverse=True)

In [164]:
stu['sname'].sort(reverse=True)

In [166]:
stu['Region'].reverse()

In [167]:
stu

{'sid': [5, 4, 3, 2, 1],
 'sname': ['E', 'D', 'C', 'B', 'A'],
 'Region': ['W', 'E', 'E', 'S', 'N']}

In [168]:
#Sets

In [169]:
set1 = {1,2,2,3,4,4,5,6,6,7,8}

In [170]:
set1

{1, 2, 3, 4, 5, 6, 7, 8}

In [171]:
set1[2]

TypeError: 'set' object is not subscriptable

In [173]:
set1.add(10)

In [174]:
set1

{1, 2, 3, 4, 5, 6, 7, 8, 10}

In [176]:
set2 = {21,11,23,12,10,10}

In [177]:
set2

{10, 11, 12, 21, 23}

In [187]:
set1.add((10,11))

In [188]:
set1

{(10, 11), (10, 11, 11), 1, 10, 2, 3, 4, 5, 6, 7, 8}

In [182]:
set3 = {'A','A',1,10.5}

In [183]:
set3

{1, 10.5, 'A'}

In [190]:
set1 = { 1, 10, 2, 3, 4, 5, 6, 7, 8}

In [211]:
set1.discard(10)

In [193]:
set1

{1, 2, 3, 4, 5, 6, 7, 8}

In [212]:
set1.remove(8)

KeyError: 8

In [215]:
set1.pop(4)

TypeError: pop() takes no arguments (1 given)

In [214]:
set1

{2, 3, 4, 5, 6, 7}

In [218]:
set1.update([10,11,12])

In [219]:
set1

{2, 3, 4, 5, 6, 7, 10, 11, 12}

In [224]:
set1 = {1,2,3,4,5,6,7}
set2 = {6,7,8}

In [221]:
set1

{1, 2, 3, 4, 5}

In [222]:
set2

{6, 7, 8}

In [225]:
set1.difference(set2)

{1, 2, 3, 4, 5}

In [226]:
set1.difference_update(set2)

In [227]:
set1

{1, 2, 3, 4, 5}

In [229]:
set1 = {1,2,3,4,5}
set2 = {3,4,5}

In [230]:
set1.intersection(set2)

{3, 4, 5}

In [231]:
set1.intersection_update(set2)

In [232]:
set1

{3, 4, 5}

In [233]:
set1 = {1,2,3,4,5}
set2 = {3,4,5}

In [234]:
set1.isdisjoint(set2)

False

In [235]:
set1 = {1,2,3}
set2 = {4,5,6}
set1.isdisjoint(set2)

True

In [236]:
set1 = {1,2,3,4,5}
set2 = {3,4,5}

In [237]:
set1.issubset(set2)

False

In [238]:
set2.issubset(set1)

True

In [239]:
set1.issuperset(set2)

True

In [240]:
set1 = {1,2,2,3,4,5,6,6}

In [245]:
frozenset(set1)

frozenset({1, 2, 3, 4, 5, 6})

In [243]:
a

frozenset({1, 2, 3, 4, 5, 6})

In [246]:
set1 = {1,2,3,4,5}

set2 = {5,6,7}

In [248]:
set1 = set1.union(set2)

In [249]:
set1

{1, 2, 3, 4, 5, 6, 7}

In [251]:
#Operators 
    #Arithmatic
    #Relational | Comparision
    #Logical 
    #Equality 
    #Ternary 
    #Assignment 
    #Special

In [252]:
#Arithmatic
    #+ - addition 
    #- - subtraction 
    #* - Multiply 
    #/ - Divide
    #% - Module 
    #//- Floor Division 
    #** - Power

In [254]:
a = 10 
b = 3

print('a+b:', a+b)
print('a-b:', a-b)
print('a*b:', a*b)
print('a/b:', a/b)
print('a%b:', a%b)
print('a//b:', a//b)
print('a**b:', a**b)

a+b: 13
a-b: 7
a*b: 30
a/b: 3.3333333333333335
a%b: 1
a//b: 3
a**b: 1000

In [257]:
#Relational operators 
a = 10 
b = 20 

#>
#<
#>=
#<=

print('a<b:', a<b)
print('a<b:', a>b)
print('a<b:', a<=b)
print('a<b:', a>=b)

a<b: True
a<b: False
a<b: True
a<b: False

In [ ]:
#Equality Operators 
==
!=

In [260]:
a == 10

True

In [261]:
a != 10

False

In [262]:
10 == int('10')

True

In [264]:
a = 'rahul'
b = 'Rahul'
a==b

False

In [265]:
#Logical Operators
and
or
not

In [266]:
True and True

True

In [267]:
True and False

False

In [268]:
True or False

True

In [269]:
False or True

True

In [270]:
False or False

False

In [276]:
x = -10 
y = 0 

print(x and y)
print(x or y)

0
-10

In [278]:
int(False)

0

In [279]:
x = 30 if 10 > 20 else 40
x

40

In [281]:
a = int(input('Enter the first number'))
b = int(input('Enter the second number'))
c = int(input('Enter the third number'))

x = a if a>b>c else b if b>c else c
x

Enter the first number7
Enter the second number4
Enter the third number5

5

In [282]:
a = int(input('Enter the first number'))
b = int(input('Enter the second number'))
c = int(input('Enter the third number'))

x = a if a>=b and a>=c else b if b>=c else c
x

Enter the first number7
Enter the second number4
Enter the third number5

7

In [ ]:
#Assignment operators 

+=
-=
/=
*=

In [284]:
a = 100

a+= 10
a
a-=10
a

100

In [285]:
#Special Operators 
    #Identity opertors 
        #is 
        #is not
    
    #Membership opertors 
        #in
        #not in

In [289]:
a = 1000
b = 1000
print(id(a))
print(id(b))
a is b

1293988407856
1293988407376

False

In [297]:
t = [1,2,3,4,5]
p = [1,2,3,4,5]
print(id(t))
print(id(p))
t is p 

print(t in p)

1293955350784
1293955398016
False

In [291]:
a = 'Helllo'
'l' in a

True

In [295]:
t == p

True

In [298]:
a = 10
b = 10
a in b

TypeError: argument of type 'int' is not iterable

In [302]:
a = 10
b = 20

In [303]:
print(id(a))
print(id(b))

140707831625792
140707831626112

In [304]:
a is b

False

In [308]:
a = 'Hello'
b = 'Hello'
print(id(a))
print(id(b))
a is b

1293955018608
1293955018608

True

In [309]:
cust_name = 'Rahul'
cname = 'Rahul'
cust_name is cname

True

In [324]:
a = -5
b =-5
print(id(a))
print(id(b))

140707831625312
140707831625312

In [ ]:
-5 to 256 
Memory same 
any other - Memory diff 

sting - same value of string - same memory 

lists - differnet memory location

In [325]:
a =10.0
b = 10.0
print(id(a))
print(id(b))

1293986847344
1293990630768

In [327]:
a = 'Rahul is a data scientist'
b= 'Rahul is a data scientist'

In [328]:
print(id(a))
print(id(b))

1293986911616
1293986913456

In [330]:
a = 'Rahul Tiwari'
b = 'Rahul Tiwari'
print(id(a))
print(id(b))

1293955519600
1293955522224

In [331]:
a = 10

In [332]:
print(id(a))

140707831625792

In [333]:
a = 20
print(id(a))

140707831626112

In [335]:
a = 'RN'
b = 'RN'
print(id(a))
print(id(b))

1293954871984
1293954871984

In [338]:
print(id(a))
print(id(b))

Enter your age10

int

In [339]:
a = int(input('Enter the number'))
a
type(a)

Enter the number10

int

In [340]:
a = input('Enter the number')
b = input('Enter 2nd number')
a+b

Enter the number10
Enter 2nd number20

'1020'

In [341]:
a = int(input('Enter the number'))
b = int(input('Enter 2nd number'))
a+b

Enter the number10
Enter 2nd number20

30

In [342]:
a = input('Enter the number')
b = input('Enter 2nd number')
a = int(a)
b = int(b)
a+b

Enter the number10
Enter 2nd number20

30

In [348]:
a = input('Enter 5 number').split('$')
type(a)

Enter 5 number10$20$30$40$50

list

In [349]:
a

['10', '20', '30', '40', '50']

In [350]:
a = input('enter 5 no')

enter 5 no10,20,30,40,50

In [352]:
a.split(',')

['10', '20', '30', '40', '50']

In [355]:
type(a[1])

str

In [356]:
a = [int(x) for x in input('Enter 5 number').split(',')]

Enter 5 number10,20,30,40,50

In [358]:
type(a[0])

int