In [5]:
import pandas as pd
import numpy as np

In [6]:
!pwd

/c/Users/subbu

In [7]:
data = pd.read_csv('F:\\PLURALSITE_DATASCIENCE\\Datascience\\Representing_Processing_PreparingData\\02\\demos\\mobile_price_classification.csv')

In [10]:
data.head()

,id,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,1,842,0,2.2,0,1.0,0,7,0.6,188.0,...,20,756,2549.0,9,7,19,0,0,1,1
1,2,1021,1,0.5,1,NaN,1,53,0.7,136.0,...,905,1988,NaN,17,3,7,1,1,0,2
2,3,563,1,0.5,1,2.0,1,41,0.9,NaN,...,1263,1716,2603.0,11,2,9,1,1,0,2
3,4,615,1,2.5,0,NaN,0,10,0.8,131.0,...,1216,1786,2769.0,16,8,11,1,0,0,2
4,5,1821,1,1.2,0,13.0,1,44,NaN,141.0,...,1208,1212,1411.0,8,2,15,1,1,0,1

In [11]:
data.shape   # data contains rows 2002 and columns 22

(2002, 22)

In [12]:
data.columns

Index(['id', 'battery_power', 'blue', 'clock_speed', 'dual_sim', 'fc',
       'four_g', 'int_memory', 'm_dep', 'mobile_wt', 'n_cores', 'pc',
       'px_height', 'px_width', 'ram', 'sc_h', 'sc_w', 'talk_time', 'three_g',
       'touch_screen', 'wifi', 'price_range'],
      dtype='object')

In [19]:
data = data.drop('id',axis=1)  # id column removed from data,data contains rows 2002 and columns 21

KeyError: "['id'] not found in axis"

In [20]:
data.shape

(2002, 21)

In [21]:
data.describe() # quick statistical overview present in numeric data

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
count,2002.000000,2002.000000,2002.000000,2002.000000,1995.000000,2002.000000,2002.000000,1997.000000,1996.000000,2002.000000,...,2002.000000,2002.000000,2000.000000,2002.000000,2002.000000,2002.000000,2002.000000,2002.000000,2002.000000,2002.000000
mean,1238.485514,0.494505,1.522428,0.509491,4.319799,0.521479,32.037463,0.502053,141.289579,4.520979,...,644.652847,1251.457043,2128.750000,12.306194,5.767732,11.008492,0.761738,0.502498,0.506494,1.499500
std,439.389628,0.500095,0.815769,0.500035,4.341836,0.499663,18.144296,0.288578,45.313271,2.287617,...,443.792863,431.988140,1096.826623,4.212218,4.354540,5.462372,0.426126,0.500119,0.500083,1.117866
min,501.000000,0.000000,0.500000,0.000000,0.000000,0.000000,2.000000,0.100000,80.000000,1.000000,...,0.000000,500.000000,256.000000,5.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000
25%,851.250000,0.000000,0.700000,0.000000,1.000000,0.000000,16.000000,0.200000,109.000000,3.000000,...,282.000000,875.250000,1207.500000,9.000000,2.000000,6.000000,1.000000,0.000000,0.000000,1.000000
50%,1226.000000,0.000000,1.500000,1.000000,3.000000,1.000000,32.000000,0.500000,141.000000,4.000000,...,564.000000,1247.000000,2145.000000,12.000000,5.000000,11.000000,1.000000,1.000000,1.000000,1.000000
75%,1615.000000,1.000000,2.200000,1.000000,7.000000,1.000000,48.000000,0.800000,170.000000,7.000000,...,946.750000,1632.750000,3069.000000,16.000000,9.000000,16.000000,1.000000,1.000000,1.000000,2.000000
max,1998.000000,1.000000,3.000000,1.000000,19.000000,1.000000,64.000000,1.000000,960.000000,8.000000,...,1960.000000,1998.000000,7286.000000,19.000000,18.000000,20.000000,1.000000,1.000000,1.000000,3.000000

In [22]:
data = data.rename(columns ={'fc':'fc_megapixels',
                            'blue':'blooth',
                            'pc':'pc_megapixels',
                            'm_dep':'m_depth'})

In [23]:
data.head()

,battery_power,blooth,clock_speed,dual_sim,fc_megapixels,four_g,int_memory,m_depth,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1.0,0,7,0.6,188.0,2,...,20,756,2549.0,9,7,19,0,0,1,1
1,1021,1,0.5,1,NaN,1,53,0.7,136.0,3,...,905,1988,NaN,17,3,7,1,1,0,2
2,563,1,0.5,1,2.0,1,41,0.9,NaN,5,...,1263,1716,2603.0,11,2,9,1,1,0,2
3,615,1,2.5,0,NaN,0,10,0.8,131.0,6,...,1216,1786,2769.0,16,8,11,1,0,0,2
4,1821,1,1.2,0,13.0,1,44,NaN,141.0,2,...,1208,1212,1411.0,8,2,15,1,1,0,1

In [24]:
duplicates = data.duplicated()

In [25]:
sum(duplicates)

2