In [5]:
# how to iterate nested list using itertool library
import itertools
import pandas as pd
import numpy as np

C:\ProgramData\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\ProgramData\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [6]:
nested_list = [[1],[2,3],[4,5,6]]
org_list = list(itertools.chain.from_iterable(nested_list))
org_list

[1, 2, 3, 4, 5, 6]

In [7]:
neste_ob = [['A'],['b,c']]

In [8]:
org_obj = list(itertools.chain.from_iterable(neste_ob))

In [9]:
org_obj

['A', 'b,c']

In [10]:
## dummy values implementations

In [11]:
import os

In [12]:
os.getcwd()

'C:\\Users\\subbu'

In [13]:
os.chdir('C:\\Users\\subbu\\Downloads\\Class 10 - Edureka Python\\')

In [14]:
data_obj = pd.read_csv('data.csv')

In [15]:
data_obj

   Country  Age  Salary Purchased
0   France   44   72000        No
1    Spain   27   48000       Yes
2  Germany   30   54000        No
3    Spain   45   61000        No
4  Germany   40   45000       Yes
5   France   35   58000       Yes
6    Spain   39   52000        No
7   France   48   79000       Yes
8  Germany   50   83000        No
9   France   37   67000       Yes

In [16]:
pd.get_dummies(data_obj.Purchased)

   No  Yes
0   1    0
1   0    1
2   1    0
3   1    0
4   0    1
5   0    1
6   1    0
7   0    1
8   1    0
9   0    1

In [17]:
data_obj.isna().sum()

Country      0
Age          0
Salary       0
Purchased    0
dtype: int64

In [18]:
#To retrive particular column from given dataset.
label = data_obj.pop('Purchased')
label

0     No
1    Yes
2     No
3     No
4    Yes
5    Yes
6     No
7    Yes
8     No
9    Yes
Name: Purchased, dtype: object

In [19]:
#estimator(experimental) has native support for NaNs

In [20]:
from sklearn.experimental import enable_hist_gradient_boosting
from sklearn.ensemble import HistGradientBoostingClassifier

In [21]:
cfr = HistGradientBoostingClassifier()

In [1]:
cfr.fit(data_obj,label)

NameError: name 'cfr' is not defined