Test

In [10]:
#product
print(2 * 3)

6

In [11]:
#square
print(2**3)

8

In [12]:
print('foo' * 2)

foofoo

In [13]:
print('Hello world')

Hello world

In [14]:
type(print('Hello world'))

Hello world

NoneType

In [15]:
#[]

*Edit
*Run 
*Save

In [16]:
x=2
y = x+2

y

4

In [17]:
print(print())

None

In [18]:
print(print(1))

1
None

In [21]:
'123'

'123'

123

In [22]:
print('123')

123

In [23]:
print(123)

123

In [24]:
#Variables

### variables

In [26]:
my_name = 'subbu'

In [27]:
x= 5

In [28]:
print(my_name , x)

subbu 5

In [29]:
student = "Subbarao"

In [30]:
student

'Subbarao'

In [39]:
student1= '123456'
student1

'123456'

In [32]:
print(student)

Subbarao

In [33]:
student_val ='123456'

In [34]:
student_val

'123456'

In [35]:
student_val = 123456

In [36]:
print(student_val)

123456

In [37]:
type(student)

str

In [40]:
type(student1)

str

In [41]:
type(student_val)

int

In [42]:
type(3/4)

float

In [43]:
type(print(3/4))

0.75

NoneType

In [44]:
19+13

32

In [45]:
3.4+1.5

4.9

In [46]:
'myname'+"subbu"

'mynamesubbu'

In [47]:
print(19+13)

32

In [50]:
first_name ='myname is'
second_name=' subbu'

In [51]:
third_name =first_name + second_name
third_name

'myname is subbu'

In [52]:
print(first_name, second_name)

myname is  subbu

In [53]:
print(third_name)

myname is subbu

In [54]:
print(1+2)

3

In [55]:
print('Hello how r u'+123)

TypeError: can only concatenate str (not "int") to str

In [74]:
my_num ='123'
num_intro = 'my number is '+ my_num
print(num_intro)

my number is 123

In [60]:
print('Hello how r u ',123)

Hello how r u  123

In [61]:
1_name = 'hello'

SyntaxError: invalid token (<ipython-input-61-1543038ea746>, line 1)

In [62]:
type(3.3)

float

Input reading

### Input reading

In [64]:
input_value = input('Enter input value ')

Enter input value 3

In [65]:
print (input_value)

3

In [66]:
type(input_value)

str

In [67]:
first_val = input()

3.4

In [68]:
type(first_val)

str

In [72]:
name=input()

subbu

In [75]:
print('hello how r u'+ 6+'well done!')

TypeError: can only concatenate str (not "int") to str

In [76]:
print('hello how r u', 6,'well done!')

hello how r u 6 well done!

In [80]:
var = 123

In [84]:
"hello".isdecimal()

False

In [83]:
"Hello123".isalnum()

True

In [86]:
"My Name is".isspace()

False

In [87]:
"The End !".istitle()

True

In [89]:
var = '123e'
var.isdigit()

False

In [90]:
var = '123'
var.isdigit()

True

In [92]:
"Save".startswith('s')

False

In [93]:
"Save".startswith('S')

True

In [94]:
"Hello world how are you today's".upper()

"HELLO WORLD HOW ARE YOU TODAY'S"

In [95]:
"Hello world how are you today's".lower()

"hello world how are you today's"

In [96]:
"Hello world how are you today's".capitalize()

"Hello world how are you today's"

In [97]:
"Hello world how are you today's".swapcase()

"hELLO WORLD HOW ARE YOU TODAY'S"

In [99]:
favorite_name = input('What is your favorite name : ?').lower()

What is your favorite name : ?SUBBU

In [100]:
print(favorite_name)

subbu

In [101]:
8>6

True

In [102]:
print(6<5)

False

In [106]:
menu = " salad pasta sandwich pizza drinks dessert"
print('pizza'.lower() in menu.lower())

True